.statistic-layout {
    display: flex;
    margin: 0 auto;
}


.statistic-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}


.statistic-value {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: '#1C6BFF'
}