.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 15%;
    height: 100%;

    position: relative;

    background-color: #222327;
    color: white;

    float: left;
}

.nav-container .nav-header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;

    font-size: var(--layout-title-font);
}

.nav-container .main-nav {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.nav-container .main-nav li {
    display: flex;
    align-items: center;
    gap: 10px;

    position: relative;
    padding: 20px;

    cursor: pointer;
}

.nav-container .main-nav li.current-page {
    background-color: #C2C5FF21;
    border-radius: 10px;
}

.nav-container .main-nav li.divide::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -5px;
    left: 0;

    border-top: 1px solid #C2C5FF30;
}

.nav-container .nav-footer {
    display: flex;
    align-items: center;
    gap: 10px;

    position: absolute;
    bottom: 0;
    padding: 30px 20px;
}