.search-result-list {
    width: 100%;

    border-radius: 20px;

    margin-top: 10px;
}

.search-result-list .search-result .search-result-title {
    font-size: 28px;
}

.search-result-list .search-result-info {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 40px;

    position: relative;
    border-radius: 10px;

    width: 100%;

    padding: 20px 20px 20px 40px;

    cursor: pointer;
}

.search-result-list .search-result-info:first-child {
    background-color: white;
}

.search-result-list .search-result-info .result-time {
    font-size: 32px;
    font-weight: bold;
}

.search-result-list .search-result-info .result-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-result-list .search-result-info .result-info .result-address {
    font-size: 18px;
    font-weight: bold;
}

.search-result-list .search-result-info .result-info .result-service-info {
    color: #8e8e8e;
}

.request.complete {
    --show-color: #4E976726;
    --text-color: #00A036;
}

.request.schedule {
    --show-color: #CD970026;
    --text-color: #CD9700;
}

.search-result-list .search-result-info .result-info .result-service-info .request {
    margin-right: 10px;
    padding: 5px;

    background-color: var(--show-color);
    color: var(--text-color);

    border-radius: 5px;
}

.search-result-list .search-result-info .result-info .result-service-list {
    display: flex;
    align-items: center;
    gap: 3px;
}

.search-result-list .search-result-info .result-info .result-service-list span::after {
    content: '/';
    margin-left: 1px;
}

.search-result-list .search-result-info .result-info .result-service-list span:last-child:after {
    content: '';
}

.search-result-list .result-info {
    /* margin-top: 5px; */
}