.layout {
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
    overflow-y: scroll;
    scrollbar-width: none;
}

.layout::-webkit-scrollbar {
    display: none;
}

.layout article {
    height: calc(100% - 80px);
    padding: 30px;
    float: left;
}

.layout article.no-header {
    position: relative;

    height: 100%;

    padding: 0;

    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 0;
}

.layout article.no-header::-webkit-scrollbar {
    display: none;
}

.layout article.no-header::before {
    content: '';
    background-image: url('../../../assets/bg/calendar_bg.png');
    position: absolute;

    top: 0;
    left: 0;

    width: 80%;
    height: 80%;

    z-index: -1;
    filter: blur(10px);
    transform: scale(1.5);
}

.layout article .article-wrap {
    width: 100%;
    height: 100%;
}

.layout article.no-header .article-wrap {
    padding: 40px 20px 10px 20px;

    background-color: #ffffff7f;
}

.layout.overflow {
    overflow-y: hidden;
}

/* Media Query */
.nav-container {
    width: 15%;
}

.layout article {
    width: calc(100% - 15% - 18%);
}

.sidebar {
    width: 18%;
}

@media (max-width: 1519px) {
    .nav-container {
        width: 18% !important;
    }

    .layout article {
        width: calc(100% - 18% - 20%);
    }

    .sidebar {
        width: 20% !important;
    }
}

@media (max-width: 1264px) {
    .nav-container {
        width: 22% !important;
    }

    .layout article {
        width: calc(100% - 22% - 26%);
    }

    .sidebar {
        width: 26% !important;
    }
}