.request-list-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.request-list-container .request-list-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}
.request-list-container::-webkit-scrollbar {
    display: none;
}