.chat-message {
    /* min-width: 40%; */
    max-width: 50%;
    width: fit-content;
    padding: 1rem;
    border-radius: 20px;
    color: white;

    box-shadow: 0 4px 4px #0000000f;
    line-height: 1.25rem;
}

.chat-message.my {
    background: linear-gradient(30deg, #c2c5ff0f, #c2c5ff7f);
    align-self: flex-end;
    text-align: right;
}

.chat-message.other {
    background: linear-gradient(30deg, #FFFFFF0f, #ffffff7f);
}